Plugins
Plugins.meta

Shapes2D
Shapes2D.meta

StandaloneFileBrowser
StandaloneFileBrowser.meta

TextMesh Pro
TextMesh Pro.meta

uLipSync
uLipSync.meta

uOSC
uOSC.meta

UniGLTF
UniGLTF.meta
VRM
VRM.meta
VRMShaders
VRMShaders.meta
